extends layout
block content
  section.hero
    .hero-body 
      div
        h1.title.main-title= title 
        h2.subtitle Welcome to #{title}, a CRUD expressJS app using Mongo & Pug.
  include tabs.pug 
