doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/fontawesome/css/all.css')
  body
    block content
